<%- include("partials/header") %>

<%if(postsList.length === 0){%>
    <h1> Home</h1>
    <p> Não há postagens ainda </p>
<%} else {%> 
    <% postsList.forEach( (post) => { %>
        <h1> <a href="/post/<%=post.titulo%>"> <%= post.titulo %> </a></h1>
        <p> <%= post.texto.substring(0,50) + " ..."%> </p>
    <%});%>
<%}%>

<%- include("partials/footer") %>